id ICON "crfac.ico"

1 VERSIONINFO
FILEVERSION     2014,07,04,0
PRODUCTVERSION  2014,07,04,0
FILEFLAGS 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Georg Held"
      VALUE "FileDescription", "Generate LEED crfac"
      VALUE "FileVersion", "2014.@CRFAC_VERSION_MINOR"
      VALUE "InternalName", "crfac"
      VALUE "LegalCopyright", "Georg Held & collaborators"
      VALUE "OriginalFilename", "crfac.exe"
      VALUE "ProductName", "crfac"
      VALUE "ProductVersion", "2014.@CRFAC_VERSION_MINOR"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
