/ExplorerItems.pyc
/ImportDialog.pyc
/MainWindow.pyc
/PeriodicTable.pyc
/PymolQtWidget.pyc
/SettingsDialog.pyc
/UpdateDialog.pyc
/__init__.pyc
/elements_gui.pyc
/interceptor.pyc
/matplotlibQtWidget.pyc
/mdichild.pyc
/projecttreeview.pyc
/res_rc.pyc
/settings.pyc
/testMenu.pyc
