id ICON "latt.ico"

1 VERSIONINFO
FILEVERSION     2014,05,19,0
PRODUCTVERSION  2014,05,19,0
FILEFLAGS 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Diamond Light Source Ltd."
      VALUE "FileDescription", "Lattice generator"
      VALUE "FileVersion", "2014.05"
      VALUE "InternalName", "lattice"
      VALUE "LegalCopyright", "Georg Held & Liam Deacon"
      VALUE "OriginalFilename", "latt.exe"
      VALUE "ProductName", "latt"
      VALUE "ProductVersion", "2014.05"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
