id ICON "csearch.ico"

1 VERSIONINFO
FILEVERSION     2014,07,04,0
PRODUCTVERSION  2014,07,04,0
FILEFLAGS 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "FileDescription", "LEED Search Program"
      VALUE "FileVersion", "2014.07"
      VALUE "InternalName", "csearch"
      VALUE "LegalCopyright", "Georg Held & collaborators"
      VALUE "OriginalFilename", "csearch.exe"
      VALUE "ProductName", "CSEARCH"
      VALUE "ProductVersion", "2014.07"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
