[Desktop Entry]
Version=0.1
GenericName=CLEED
Name=csearch
Comment=Surface input file
Icon=cleed_inp
Terminal=true
Type=Application
Categories=Science;
MimeType=application/x-cleed_inp-item;
