[Desktop Entry]
Version=0.1
GenericName=CLEED
Name=csearch
Comment=Minimum bulk parameter file
Icon=cleed_bmin
Terminal=true
Type=Application
Categories=Science;
MimeType=application/x-cleed_bmin-item;
