[Desktop Entry]
Version=0.1
GenericName=CLEED
Name=ftsmooth
Comment=Fourier smoothed IV curve file
Icon=cleed_fsm
Terminal=true
Type=Application
Categories=Science;
MimeType=application/x-cleed_fsm-item;
