[Desktop Entry]
Version=0.1
GenericName=CLEED
Name=csearch
Comment=Dummy output file
Icon=cleed_dum
Terminal=true
Type=Application
Categories=Science;
MimeType=application/x-cleed_dum-item;
