[Desktop Entry]
Version=0.1
GenericName=CLEED
Name=csearch
Comment=Vertex file
Icon=cleed_ver
Terminal=true
Type=Application
Categories=Science;
MimeType=application/x-cleed_ver-item;
