id ICON "cleed_sym.ico"

1 VERSIONINFO
FILEVERSION     2014,07,04,0
PRODUCTVERSION  2014,07,04,0
FILEFLAGS 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "FileDescription", "LEED calculations with symmetry"
      VALUE "FileVersion", "2014.@CLEED_SYM_VERSION_MINOR"
      VALUE "InternalName", "cleed_sym"
      VALUE "LegalCopyright", "Georg Held & Wolfgang Brown"
      VALUE "OriginalFilename", "cleed_sym.exe"
      VALUE "ProductName", "cleed_sym"
      VALUE "ProductVersion", "2014.@CLEED_SYM_VERSION_MINOR"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
